:root{
    --header-text-color:#212121;
    --logo-color-web:#2196F3;
    --btn-color:#ffffff;
    --hero-text-color:#ffffff;
    --second-text-color:#757575;
    --acent-color:#2196F3;
    --background-btn-color:#F5F4FA;
}

body{
    font-family: Roboto,sans-serif;
    color: #212121;
    background-color: rgb(244, 235, 235);
    /*колір для видимості заголовків білого кольору*/
}

.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.link:hover,.link:focus{
    color:var(--acent-color)
}
    
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;

    color: var(--text-color)
    
}

.span-logo{
    font-family:'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;
    
    color:var(--logo-color-web)
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--header-text-color);
}

.header-tel{
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    
    color:var(--second-text-color);
}

.header-mail{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--second-text-color);
}

.hero-title{
   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    color: var(--hero-text-color);
    
}
.hero-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    

    color: var(--btn-color);
    background-color:var(--acent-color)
}

.benefits-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 141.;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--header-text-color);
}

.benefits-text{

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.work-title{

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--header-text-color);
}
.team-title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    
    color:var(--header-text-color);
}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color:var(--header-text-color);
}
.team-desc{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--second-text-color);
}
.fotter-link{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    letter-spacing: 0.03em;

    color: var(--header-text-color);  
}
.footer-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #ffffff;
}
.footer-mail,
.footer-tel{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--second-text-color);
}
.filter-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color:var(--header-text-color);
    background-color: var(--background-btn-color);
}
.filter-btn:hover{
    background-color: var(--acent-color);
    color: var(--btn-color);
}
.portfolio-subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    color: var(--header-text-color);
}
.portfolio-text{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color:var(--second-text-color);
}